* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  cursor: url(./bee.png), auto;
}

.container {
  width: 800px;
  max-width: 80%;
  padding: 10px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 10px;
  gap: 5px;
}

.button {
  padding: 5px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

body {
  background-color: #13795b;
}

.hexagons {
  background-color: #13795b;
  border: none;
  cursor: inherit;
}

/*POPUP!*/

/* Popup container - can be anything you want */
.popup {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  height: 20vh;
  background-color: rgb(236, 211, 65);
  position: absolute;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Hexagons*/
.hex-grid__list {
  --amount: 5;
  --counter: 1;
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(var(--amount), 1fr, 2fr) 1fr;
}

.hex-grid__item {
  position: relative;
  grid-column: 1 / span 3;
  grid-row: calc(var(--counter) + var(--counter)) / span 2;
  height: 0;
  padding-bottom: 100%;
}

.hex-grid__item:nth-of-type(n + 6) {
  --counter: 2;
}

.hex-grid__item:nth-of-type(n + 11) {
  --counter: 3;
}

.hex-grid__item:nth-of-type(n + 16) {
  --counter: 4;
}

.hex-grid__item:nth-of-type(n + 21) {
  --counter: 5;
}

.hex-grid__item:nth-of-type(n + 26) {
  --counter: 6;
}

.hex-grid__item:nth-of-type(n + 31) {
  --counter: 7;
}

.hex-grid__item:nth-of-type(n + 36) {
  --counter: 8;
}

.hex-grid__item:nth-of-type(n + 41) {
  --counter: 9;
}

.hex-grid__item:nth-of-type(n + 46) {
  --counter: 10;
}

.hex-grid__item:nth-of-type(n + 51) {
  --counter: 11;
}

.hex-grid__item:nth-of-type(n + 56) {
  --counter: 12;
}

.hex-grid__item:nth-of-type(n + 61) {
  --counter: 13;
}

.hex-grid__item:nth-of-type(n + 66) {
  --counter: 14;
}

.hex-grid__item:nth-of-type(n + 71) {
  --counter: 15;
}

.hex-grid__item:nth-of-type(n + 76) {
  --counter: 16;
}

.hex-grid__item:nth-of-type(n + 81) {
  --counter: 17;
}

.hex-grid__item:nth-of-type(n + 86) {
  --counter: 18;
}

.hex-grid__item:nth-of-type(n + 91) {
  --counter: 19;
}

.hex-grid__item:nth-of-type(n + 96) {
  --counter: 20;
}

.hex-grid__item:nth-of-type(n + 101) {
  --counter: 21;
}

.hex-grid__content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}
