* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.wrapper {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    align-items: center;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    background-image: url(Grindelwald_IMGP9734_35_Kombi_RGB.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url(./bee.png), auto;
}

.header {
    background-color: #13795b;
    height: 60px;
}

.chapter {
    position: fixed;
    top: 10%;
    left: 5%;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000000;
}

.chapter-name {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 37px;
    color: #005245;
    margin-top: 20px;
}

.question-page {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: ffffff;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    height: 280px;
    width: 240px;
    background-image: url(questionBox.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    font-weight: 650;
    font-size: medium;
    color: #005245;
    text-align: center;
}

.button-grid {
    margin-top: -43px;
    display: flex;
    padding: 10px;
    gap: 5px;
}

.bold {
    font-weight: 600;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    border-radius: 5px;
    height: 180px;
    width: 160px;
    background-image: url(answerBox.svg);
    background-repeat: no-repeat;
    color: #005245;
    text-align: center;
    font-size: 15px;
}

.hidden {
    display: none !important;
}

body {
    background-color: #005245;
}

#screen-message {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    font-size: 1.5em;
    padding: 20px;
}

.hexagons {
    background-color: #005245;
    border: none;
    cursor: inherit;
}


/*Side menu*/

#side-menu {
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  width: 25vw;
  margin: 0%;
}

.SM-score-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 316.8px;
  /* height: 741.6px; */
  height: 80vh;
  min-height: 350px;
  margin: 30px 20px 0 20px;
  padding: 10px;
  border-radius: 7.2px;
}

.SM-text-score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268.2px;
    height: 79.2px;
    background: #ffcc00;
    text-align: center;
    margin-top: 10px;
}

#SM-text-score {
    font-style: normal;
    font-weight: normal;
    font-size: 43.2px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
}

#SM-score-percent {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 30px;
    color: #808285;
}

#SM-score-percent-text {
    font-style: normal;
    font-weight: normal;
    font-size: 25.2px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    color: #005245;
}

#SM-border {
  width: 244px;
  height: 0px;
  margin: 20px 0 40px 0;
  border: 1px solid #e4e4e4;
}

.SM-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #fdeaa1;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    color: #808285;
}

.SM-nature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.SM-circle {
    height: 55px;
    width: 55px;
    background-color: #ffcc00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #13795b;
}

.SM-letter {
    font-size: 15px;
}

.SM-letter-text {
    font-size: 10px;
}

#b-circle,
#n-circle,
#p-circle {
    z-index: 2;
    margin-bottom: -10px;
}

.SM-letter {
    font-weight: bold;
    text-transform: uppercase;
}

.SM-letter-text {
    font-weight: 200;
    text-transform: uppercase;
}

#SM-number-of-footsteps {
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #808285;
}

#SM-number-of-footsteps-text {
    font-style: normal;
    font-weight: normal;
    font-size: 25.2px;
    line-height: 30px;
    text-align: center;
    margin-top: 5px;
    color: #005245;
}

#totalStamps {
    color: transparent;
}

.SM-footsteps-collected {
  margin-top: 20px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: 30px 30px 30px 30px 30px 30px 30px;
  grid-template-rows: 30px 30px 30px 30px;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  gap: 7px 7px;
  grid-template-areas:
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . .";
  color: #e4e4e4;
  font-size: 25px;
}

.SM-yellow-boxes {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
}


/*.map-wrapper {
    background-image: url(Grindelwald_IMGP9597_99_RGB\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}/*


/*POPUP!*/


/* Popup container - can be anything you want */

.popup {
  display: flex;
  position: absolute;
  align-items: center;
  top: 33%;
  left: 35%;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}


/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: 35vw;
    height: 46vh;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    pointer-events: all;
}


/* for calculating earned points from the console log to a var */

.points-earned {
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    line-height: 160px;
    color: #005245;
}

.continue-button {
    background-color: #005245;
    color: white;
    display: initial;
    align-items: center;
    border-radius: 8px;
    margin: 0;
    padding: 20px 32px;
    font-size: 20px;
}

.points-box {
    background-color: white;
    position: relative;
    display: flex;
    width: 25vw;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px;
}

.points-info {
    font-size: 25px;
    line-height: 140px;
    color: #005245;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.popup-circle {
    border-radius: 50%;
    position: relative;
    background-color: #ffcc00;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    top: 15%;
    border-left: 10px;
    color: #005245;
    font-weight: 500;
    text-transform: uppercase;
}

.letter {
    color: #005245;
    font-weight: 800;
    font-size: 30px;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*Hexagons*/

.hex-grid {
    display: flex;
    justify-content: center;
}

.hex-grid__list {
    --amount: 5;
    height: 50vh;
    /* position: relative; */
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
    grid-gap: 2.5em 4em;
    font-size: 13px;
}

.hex-grid__item {
    /* position: relative; */
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;
    filter: drop-shadow(0 0 10px rgba(68, 68, 68, 0.08));
    height: 0;
    padding-bottom: 90%;
}

.hex-grid__content {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 1.125rem;
    color: #111111;
    background-color: #ffffff;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 25%;
    text-decoration: none;
    text-align: center;
    transition: transform 0.24s ease-out;
    writing-mode: vertical-rl;
    /* color: transparent; */
}

#hex1a {
    background-color: #005245;
    color: #ffffff;
}

#hex1a:hover {
    background-color: #ffcc00;
    color: #111111;
}

#hex39a {
    color: #005245;
    font-size: 27px;
}

@media screen and (min-width: 1440px) {
  .hex-grid__list {
    --amount: 5;
    height: 50vh;
    /* position: relative; */
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
    grid-gap: 2.5em 4em;
    font-size: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .hex-grid__list {
    --amount: 5;
    --counter: 1;
  }
  .hex-grid__item:nth-of-type(5n + 1) {
    grid-column: 1 / span 3;
  }
  .hex-grid__item:nth-of-type(5n + 2) {
    grid-column: 3 / span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
  }
  .hex-grid__item:nth-of-type(5n + 3) {
    grid-column: 5 / span 3;
  }
  .hex-grid__item:nth-of-type(5n + 4) {
    grid-column: 7 / span 3;
    grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
  }
  .hex-grid__item:nth-of-type(5n + 5) {
    grid-column: 9 / span 3;
  }
  .hex-grid__item:nth-of-type(n + 6) {
    --counter: 2;
  }
  .hex-grid__item:nth-of-type(n + 11) {
    --counter: 3;
  }
  .hex-grid__item:nth-of-type(n + 16) {
    --counter: 4;
  }
  .hex-grid__item:nth-of-type(n + 21) {
    --counter: 5;
  }
  .hex-grid__item:nth-of-type(n + 26) {
    --counter: 6;
  }
  .hex-grid__item:nth-of-type(n + 31) {
    --counter: 7;
  }
  .hex-grid__item:nth-of-type(n + 36) {
    --counter: 8;
  }
  .hex-grid__item:nth-of-type(n + 41) {
    --counter: 9;
  }
  .hex-grid__item:nth-of-type(n + 46) {
    --counter: 10;
  }
  .hex-grid__item:nth-of-type(n + 51) {
    --counter: 11;
  }
  .hex-grid__item:nth-of-type(n + 56) {
    --counter: 12;
  }
  .hex-grid__item:nth-of-type(n + 61) {
    --counter: 13;
  }
  .hex-grid__item:nth-of-type(n + 66) {
    --counter: 14;
  }
  .hex-grid__item:nth-of-type(n + 71) {
    --counter: 15;
  }
  .hex-grid__item:nth-of-type(n + 76) {
    --counter: 16;
  }
  .hex-grid__item:nth-of-type(n + 81) {
    --counter: 17;
  }
  .hex-grid__item:nth-of-type(n + 86) {
    --counter: 18;
  }
  .hex-grid__item:nth-of-type(n + 91) {
    --counter: 19;
  }
  .hex-grid__item:nth-of-type(n + 96) {
    --counter: 20;
  }
  .hex-grid__item:nth-of-type(n + 101) {
    --counter: 21;
  }
}

@media screen and (min-width: 1120px) and (max-width: 1439px) {
    .hex-grid__list {
        --amount: 4;
        --counter: 1;
    }
    .hex-grid__item:nth-of-type(4n + 1) {
        grid-column: 1 / span 3;
    }
    .hex-grid__item:nth-of-type(4n + 2) {
        grid-column: 3 / span 3;
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
    }
    .hex-grid__item:nth-of-type(4n + 3) {
        grid-column: 5 / span 3;
    }
    .hex-grid__item:nth-of-type(4n + 4) {
        grid-column: 7 / span 3;
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
    }
    .hex-grid__item:nth-of-type(n + 5) {
        --counter: 2;
    }
    .hex-grid__item:nth-of-type(n + 9) {
        --counter: 3;
    }
    .hex-grid__item:nth-of-type(n + 13) {
        --counter: 4;
    }
    .hex-grid__item:nth-of-type(n + 17) {
        --counter: 5;
    }
    .hex-grid__item:nth-of-type(n + 21) {
        --counter: 6;
    }
    .hex-grid__item:nth-of-type(n + 25) {
        --counter: 7;
    }
    .hex-grid__item:nth-of-type(n + 29) {
        --counter: 8;
    }
    .hex-grid__item:nth-of-type(n + 33) {
        --counter: 9;
    }
    .hex-grid__item:nth-of-type(n + 37) {
        --counter: 10;
    }
    .hex-grid__item:nth-of-type(n + 41) {
        --counter: 11;
    }
    .hex-grid__item:nth-of-type(n + 45) {
        --counter: 12;
    }
    .hex-grid__item:nth-of-type(n + 49) {
        --counter: 13;
    }
    .hex-grid__item:nth-of-type(n + 53) {
        --counter: 14;
    }
    .hex-grid__item:nth-of-type(n + 57) {
        --counter: 15;
    }
    .hex-grid__item:nth-of-type(n + 61) {
        --counter: 16;
    }
    .hex-grid__item:nth-of-type(n + 65) {
        --counter: 17;
    }
    .hex-grid__item:nth-of-type(n + 69) {
        --counter: 18;
    }
    .hex-grid__item:nth-of-type(n + 73) {
        --counter: 19;
    }
    .hex-grid__item:nth-of-type(n + 77) {
        --counter: 20;
    }
    .hex-grid__item:nth-of-type(n + 81) {
        --counter: 21;
    }
}

@media screen and (min-width: 840px) and (max-width: 1119px) {
    .hex-grid__list {
        --amount: 3;
        --counter: 1;
        grid-gap: 1.5rem 3rem;
    }
    .hex-grid__item:nth-of-type(3n + 1) {
        grid-column: 1 / span 3;
    }
    .hex-grid__item:nth-of-type(3n + 2) {
        grid-column: 3 / span 3;
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
    }
    .hex-grid__item:nth-of-type(3n + 3) {
        grid-column: 5 / span 3;
    }
    .hex-grid__item:nth-of-type(n + 4) {
        --counter: 2;
    }
    .hex-grid__item:nth-of-type(n + 7) {
        --counter: 3;
    }
    .hex-grid__item:nth-of-type(n + 10) {
        --counter: 4;
    }
    .hex-grid__item:nth-of-type(n + 13) {
        --counter: 5;
    }
    .hex-grid__item:nth-of-type(n + 16) {
        --counter: 6;
    }
    .hex-grid__item:nth-of-type(n + 19) {
        --counter: 7;
    }
    .hex-grid__item:nth-of-type(n + 22) {
        --counter: 8;
    }
    .hex-grid__item:nth-of-type(n + 25) {
        --counter: 9;
    }
    .hex-grid__item:nth-of-type(n + 28) {
        --counter: 10;
    }
    .hex-grid__item:nth-of-type(n + 31) {
        --counter: 11;
    }
    .hex-grid__item:nth-of-type(n + 34) {
        --counter: 12;
    }
    .hex-grid__item:nth-of-type(n + 37) {
        --counter: 13;
    }
    .hex-grid__item:nth-of-type(n + 40) {
        --counter: 14;
    }
    .hex-grid__item:nth-of-type(n + 43) {
        --counter: 15;
    }
    .hex-grid__item:nth-of-type(n + 46) {
        --counter: 16;
    }
    .hex-grid__item:nth-of-type(n + 49) {
        --counter: 17;
    }
    .hex-grid__item:nth-of-type(n + 52) {
        --counter: 18;
    }
    .hex-grid__item:nth-of-type(n + 55) {
        --counter: 19;
    }
    .hex-grid__item:nth-of-type(n + 58) {
        --counter: 20;
    }
    .hex-grid__item:nth-of-type(n + 61) {
        --counter: 21;
    }
}

@media screen and (min-width: 480px) and (max-width: 839px) {
    .hex-grid__list {
        --amount: 2;
        --counter: 1;
        grid-gap: 1.5rem 3rem;
    }
    .hex-grid__item:nth-of-type(2n + 1) {
        grid-column: 1 / span 3;
    }
    .hex-grid__item:nth-of-type(2n + 2) {
        grid-column: 3 / span 3;
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
    }
    .hex-grid__item:nth-of-type(n + 3) {
        --counter: 2;
    }
    .hex-grid__item:nth-of-type(n + 5) {
        --counter: 3;
    }
    .hex-grid__item:nth-of-type(n + 7) {
        --counter: 4;
    }
    .hex-grid__item:nth-of-type(n + 9) {
        --counter: 5;
    }
    .hex-grid__item:nth-of-type(n + 11) {
        --counter: 6;
    }
    .hex-grid__item:nth-of-type(n + 13) {
        --counter: 7;
    }
    .hex-grid__item:nth-of-type(n + 15) {
        --counter: 8;
    }
    .hex-grid__item:nth-of-type(n + 17) {
        --counter: 9;
    }
    .hex-grid__item:nth-of-type(n + 19) {
        --counter: 10;
    }
    .hex-grid__item:nth-of-type(n + 21) {
        --counter: 11;
    }
    .hex-grid__item:nth-of-type(n + 23) {
        --counter: 12;
    }
    .hex-grid__item:nth-of-type(n + 25) {
        --counter: 13;
    }
    .hex-grid__item:nth-of-type(n + 27) {
        --counter: 14;
    }
    .hex-grid__item:nth-of-type(n + 29) {
        --counter: 15;
    }
    .hex-grid__item:nth-of-type(n + 31) {
        --counter: 16;
    }
    .hex-grid__item:nth-of-type(n + 33) {
        --counter: 17;
    }
    .hex-grid__item:nth-of-type(n + 35) {
        --counter: 18;
    }
    .hex-grid__item:nth-of-type(n + 37) {
        --counter: 19;
    }
    .hex-grid__item:nth-of-type(n + 39) {
        --counter: 20;
    }
    .hex-grid__item:nth-of-type(n + 41) {
        --counter: 21;
    }
}

@media screen and (max-width: 479px) {
    .hex-grid__list {
        --amount: 1;
        grid-gap: 1.5rem 3rem;
    }
}

.hex-grid__content:hover {
    background-color: #ffcc00;
}

.hex-grid__list {
    transform: rotate(270deg);
}


/* OBS! Do not remove hex1 */

#hex4,
#hex5,
#hex6,
#hex7,
#hex8,
#hex11,
#hex12,
#hex13,
#hex16,
#hex17,
#hex18,
#hex19,
#hex21,
#hex22,
#hex26,
#hex29,
#hex30,
#hex31,
#hex33,
#hex34,
#hex35,
#hex36,
#hex40 {
    display: none;
}